@model miniproject.Models.Login
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div class="form-group">

        @Html.LabelFor(c => c.EmailId)
        @Html.TextBoxFor(c => c.EmailId, new { @class = "form-text text-muted", autocomplte = "off", required = true })
        @Html.ValidationMessageFor(c => c.EmailId)
    </div>
    <div class="form-group">

        @Html.LabelFor(c => c.Password)
        @Html.TextBoxFor(c => c.Password, new { @class = "form-text text-muted", autocomplte = "off", required = true })
        @Html.ValidationMessageFor(c => c.Password)

    </div>


    <div class="form-group">
        @Html.LabelFor(c => c.SapId)
        @Html.TextBoxFor(c => c.SapId, new { @class = "form-control-file", autocomplte = "off" })
        @Html.ValidationMessageFor(c => c.SapId)
    </div>
   <div class="form-group">

<input type="submit" name="cmdsubmit" class="btn btn-outline-primary" />


   </div>
@Html.ActionLink("BackToList", "Index", "Login")
}
        

